<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>List Users</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {{#each users}}
                    <tr>
                        <td>{{email}}</td>
                        <td>{{created_at}}</td>
                        <td>{{role}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-remove icon-danger"></span>
                                </button>
                                <button type="button" class="btn btn-default">
                                    {{#if active}}
                                        <span class="glyphicon glyphicon-off icon-success"></span>
                                    {{else}}
                                        <span class="glyphicon glyphicon-off"></span>
                                    {{/if}}
                                </button>
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            <p>
                <a class="btn btn-large btn-info" href="/ui/adduser">Add</a>
            </p>
        </div>
    </div>
</div>